<!DOCTYPE html>
<html>

<head>
    <link rel="icon" href="/img/weather.png">
    <title>404 Weather Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="https://static.businessinsider.com/image/513f6b916bb3f7715c000012-750.jpg" alt="">
        <p>404 - Ain't nobody got help for that!</p>
    </div>

    {{>footer}}

</body>

</html>