<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by {{ name }}. It uses data from mapbox.com and darksy.net</p>
        <figure>
            <img class="portrait" alt="Pedro Santos photo" src="/img/carteira.jpg">
            <figcaption>This is me, Pedro Santos</figcaption>
        </figure>
    </div>

    {{>footer}}
</body>

</html>